<!-- nav 
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Tele Atlantico</a>
        <a class="nav-item nav-link" routerLink="/issue-list" routerLinkActive="active">Issue List</a>
        <a class="nav-item nav-link" routerLink="/add_issue" routerLinkActive="active">Insert Issue</a>
        <a class="nav-item  nav-link "  (click)="logout()">Logout</a>
    </div>
</nav>
-->
<mat-toolbar color=primary>
    
    <span>Tele Atlantico</span>
            <a mat-button class="nav-item nav-link" routerLink="/issue-list" routerLinkActive="active">Issue List</a>
            <a mat-button class="nav-item nav-link" routerLink="/add_issue" routerLinkActive="active">Insert Issue</a>
            <a mat-button  class="nav-item  nav-link "  href="#">Logout</a>
            
        
   


</mat-toolbar>