<h2>Issue Add  </h2>

    <div class="form-group row">
    
        <label class=" control-label col-md-12" for="descripcion">Descripcion</label>
        <div class="col-md-4">
          <input class="form-control" type="text" formControlName="descripcion">
        </div>
        
      </div>

      <div class="form-group row">
    
        <label class=" control-label col-md-12" for="phone">Phone</label>
        <div class="col-md-4">
          <input class="form-control" type="text" formControlName="phone">
        </div>
        
      </div>


      <div class="form-group row">
    
        <label class=" control-label col-md-12" for="email">Email</label>
        <div class="col-md-4">
          <input class="form-control" type="text" formControlName="email">
        </div>
        
      </div>

      <div class="form-group row">
    
        <label class=" control-label col-md-12" for="address">Address</label>
        <div class="col-md-4">
          <input class="form-control" type="text" formControlName="address">
        </div>
 
      </div>


      <div class="form-group row">
    
        <label class=" control-label col-md-12" for="Id">Client ID</label>
        <div class="col-md-4">
          <input class="form-control" type="text" formControlName="Id" placeholder="Digite su ID aqui">
        </div>
      
      </div>

      <div class="form-group row">
        <label class=" control-label col-md-12" for="service">Service</label>
        <div class="col-md-4">

          <select [(ngModel)]="issueData.service" class="form-control" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let item of services" value="{{item.idS}}" > {{item.serviceName}}</option>
          </select><br>
        </div>
 
      </div>
  
      <div class="form-group">
        <button type="submit" (click)="addIssue()" class="btn btn-primary col-3">Save</button>
        <button class="btn" (click)="cancel()">Cancel</button>
      </div>



